.footer {
  --minFontSize: 1.2rem;
  --maxFontSize: 2rem;
  --scaler: 4vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
  margin-top: $space--24;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__divider {
    width: 100%;
    // margin-top: $space--64;

    background-color: #fff;
    border: 0.1px solid #fff;
  }
}
