@import "./variables";

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
  // padding: 3rem;
}

body {
  margin: 0;
  background-color: #000;
  color: $white--01;
  font-family: "Roboto", sans-serif;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}
