@import "./variables";
@import "./mixins";

.hero {
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img-3.jpg") no-repeat;
  background-size: cover;
  background-position: 100px -30px;
  -webkit-box-shadow: none;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  filter: greyscale;

  &-message {
    align-self: center;
    flex: 0 1 40em;
    margin-left: 10em;

    h1 {
      font-size: 10em; //TODO: Make this a utility css class
      // color: #c98006; //Todo: loop for a good gold combination
      font-family: Source Sans Pro, sans-serif;
      letter-spacing: 5px;
      line-height: 150px;
      font-weight: 500;
      opacity: 0.7;
      // animation: bounceText 1s ease-out;
      // transform: translate(20px, -10px);
      // transition: transform 1s;

      // &:hover {
      //   animation: bounceText 1s ease-out alternate;
      // }
    }

    &__hello {
      font-size: 10em;
      font-family: Source Sans Pro, sans-serif;
      letter-spacing: 5px;
      line-height: 150px;
      font-weight: 500;
      opacity: 0.7;
      text-shadow: 3px 3px 4px rgb(255, 255, 255, 0.4);

      span {
        span {
          position: relative;
          @include move-greeting;
          // animation: $move-greeting 0.75s forwards;
          bottom: -1em;
          opacity: 0;
        }
      }

      // &_h {
      //  @include h;
      // }

      // &_e {
      //  @include e;
      // }

      // &_l-1 {
      //  @include l;
      // }

      // &_l-2 {
      //  @include l;
      // }

      // &_o {
      //  @include o;
    }

    p {
      font-size: 1.8em;
      letter-spacing: 2px;
      line-height: 30px;
      font-family: Source Sans Pro, serif;
      font-weight: 400;
    }

    &__intro-1,
    &__intro-2 {
      opacity: 0;
      @include moveDownUp;
    }

    &__intro-2 {
    }
  }

  &-credits {
    // position: absolute;
    // top: 50%;
    // // top: 100%;
    // right: 5%;
    // text-align: center;
    // font-family: Cormorant, serif;
    // animation-timing-function: linear;
    // animation-iteration-count: infinite;
    // animation-delay: 0s;
    // animation: credits 20s;
    // -webkit-animation: credits 20s;
    // -webkit-animation-delay: 0s;
    // -webkit-animation-timing-function: linear;
    // -webkit-animation-iteration-count: infinite;

    &__detail {
      margin-bottom: 2em;

      h4 {
        font-size: 2em;
      }

      p {
        font-size: 1.5em;
      }

      &_profession {
        position: absolute;
        top: 70%;
        right: -2%;
        // animation-timing-function: ease-in-out;
        // animation-iteration-count: infinite;
        animation-delay: 0s;
        animation: proffession 20s forwards;
        -webkit-animation: proffession 20s forwards;
        -webkit-animation-delay: 0s;
        // -webkit-animation-timing-function: ease-in-out;
        // -webkit-animation-iteration-count: infinite;
      }

      &_specialty {
        position: absolute;
        top: 0%;
        left: -10%;
        animation-delay: 20s;
        animation: specialty 20s forwards;
        -webkit-animation: specialty 20s forwards;
        -webkit-animation-delay: 20s;
      }

      &_cast {
        position: absolute;
        top: 20%;
        opacity: 1;
        right: 20%;
        // animation-delay: 40s;
        // animation: cast 20s forwards;
        // -webkit-animation: cast 20s forwards;
        // -webkit-animation-delay: 40s;
      }

      &_stack {
        position: absolute;
        top: 90%;
        opacity: 1;
        left: 10%;
        animation-delay: 0s;
        animation: specialty 20s forwards;
        -webkit-animation: specialty 20s forwards;
        -webkit-animation-delay: 0s;
      }

      &_tools {
      }
    }
  }
}

// @keyframes proffession {
//   10% {
//     // top: 70%;
//     opacity: 1;
//   }

//   100% {
//     // top: -50%;
//     right: 20%;
//     opacity: 0;
//   }
// }

// @keyframes specialty {
//   10% {
//     // top: 70%;
//     opacity: 1;
//   }

//   100% {
//     // top: -50%;
//     left: 35%;
//     opacity: 0;
//   }
// }

// @keyframes cast {
//   10% {
//     // top: 70%;
//     opacity: 0.3;
//   }

//   20% {
//     opacity: 0.5;
//   }

//   70% {
//     opacity: 1;
//   }

//   100% {
//     top: 70%;
//     opacity: 0;
//   }
// }

@keyframes stack {
  0% {
    // top: 85%;
    // left: 20%;
    transform: translate(20%, 85%);
    opacity: 0.3;
  }

  // 25% {
  //   top: 80%;
  //   left: 20%;
  //   opacity: 0.5;
  // }

  // 50% {
  //   top: 75%;
  //   left: 20%;
  //   opacity: 0.7;
  // }

  // 75% {
  //   top: 70%;
  //   left: 20%;
  //   opacity: 0.3;
  // }

  100% {
    // top: 70%;
    // left: 20%;
    transform: translate(20%, 70%);
    opacity: 1;
  }
}

// @keyframes tools {
//   10% {
//     // top: 70%;
//     opacity: 1;
//   }

//   100% {
//     // top: -50%;
//     right: 20%;
//     opacity: 0;
//   }
// }

// @keyframes credits {
//   0% {
//     top: 100%;
//   }
//   100% {
//     top: -50%;
//   }
// }
