@import "./variables";
@import "./mixins";

.gatsby-image-wrapper {
  position: static;
}

.hero {
  height: 100vh;
  -webkit-box-shadow: none;
  display: flex;
  justify-content: space-between;
  // rflow: hidden;
  position: relative;
  filter: greyscale;
  padding-top: $space--4;

  &__name {
    color: $gold--01;
    font-weight: $font-weight-medium;
    --minFontSize: 3rem;
    --maxFontSize: 8rem;
    --scaler: 6vw;
    font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
    font-family: "Italiana";
  }
  //Desktop

  &__greeting {
    font-size: $section-title-font;
    font-family: "Italiana";
    // font-family: $font-family-section-title;
  }

  &__intro {
    flex: 2;

    &-description {
      // margin-top: 2rem;
      @include flexColumn;
      justify-content: space-around;
      height: 100%;
    }

    &-description--1 {
      margin-top: $space--64;
      h1 {
        @include flexColumn;
        font-weight: 400;
        // font-family: $font-family-body, $font-family-default;
        font-family: "Italiana";
        line-height: $line-height-small;
        font-size: $h1--font-big;

        @media screen and (min-device-width: 1500px) {
          font-size: $section-title-font;
        }
      }
    }

    &-description--2 {
      // font-size: $small--font;

      font-family: $font-family-body;
      font-weight: $font-weight-small;
      line-height: $line-height-medium;
      width: 60%;
      align-self: center;
      vertical-align: center;
      @include text-spacing;
      @include extra-small-font;

      @media screen and (min-device-width: 1500px) {
        width: 40%;
        // font-size: $caption--font;
      }
    }

    &-tablet {
      display: none;
      &__description--2 {
        font-family: $font-family-body;
        @include extra-small-font;
      }
    }
  }

  //Desktop image
  &-image {
    flex: 1;
    align-self: center;
    height: 70%;
    display: flex;
    align-items: center;
    width: 80%;

    &__wrapper {
      width: 70%;
      height: 100%;
      position: relative;
      border: 2px solid $gold--03;
      z-index: 10;
      border-radius: $br-5;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &-inner {
        width: 100%;
        height: 80%;
        position: absolute;
        border: 2px solid #fff;
        left: 50%;
        top: 10%;
        border-radius: $br-5;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  @include respond(extra-small) {
    &__intro {
      &-description--1 {
        h1 {
          font-size: clamp(2rem, -4.25rem + 14vw, 5rem);
        }
      }
      &-tablet {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &__description--2 {
          padding-top: $space--32;
          width: 70%;
        }

        &--image {
          width: 80% !important;

          &-wrapper {
            width: 70% !important;
          }
        }
      }
    }
  }

  @include respond(small) {
    //tablet
    &__intro {
      &-description--1 {
        align-self: center;

        h1 {
          font-size: $h1--font;
        }
      }

      &-description--2 {
        display: none;
      }
      &-tablet {
        &--image {
          width: 70%;
          &-wrapper {
            height: 100%;
          }
        }
      }
    }
  }

  @include respond(medium) {
    flex-direction: column;
    height: auto;
    margin-bottom: $space--64;

    &-image {
      display: none;
    }

    //tablet
    &__intro {
      &-description--1 {
        align-self: center;
        margin-top: 0;

        h1 {
          font-size: clamp(2rem, -4.25rem + 14vw, 5rem);
        }
      }

      &-description--2 {
        display: none;
        font-family: $font-family-body;
        // @include small-font;
      }
      &-tablet {
        display: flex;
        padding: $space--32 0;
        &__description--2 {
          display: block;
          flex: 1;
          // @include small-font;

          // font-size: $small--font;
          align-self: center;
          line-height: $line-height-medium;
          font-family: $font-family-body;
          font-weight: $font-weight-small;
          // margin-left: 3rem;
        }

        &--image {
          flex: 2;

          width: 70%;
          &-wrapper {
            width: 60%;
            // height: 80%;
            position: relative;
            border: 2px solid $gold--03;
            z-index: 10;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            &__inner {
              width: 100%;
              height: 80%;
              position: absolute;
              border: 2px solid #fff;
              left: 50%;
              top: 10%;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}
