.hero {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  height: 100vh;
}
.hero-message {
  grid-column: col-start / span 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
  //transform: translate(0px, 40% );
}

.hero-message h1 {
  font-size: 10em; //TODO: Make this a utility css class
  color: darkgoldenrod; //Todo: loop for a good gold combination
  font-family: Josefin Slab, sans-serif;
  letter-spacing: 5px;
  line-height: 150px;
  font-weight: 300;
}

.hero-message p {
  font-size: 2em;
  letter-spacing: 2px;
  line-height: 20px;


}

.hero-img {
  grid-column: col-start 7 / -1;
  width: 100%;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../hero-img-6.png") no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
 filter: grayscale(100%); /* Safari 6.0 - 9.0 */
}
//.hero {
//width: 100%;
//  //background: url("../hero-img-3.jpg");
//  //background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("../hero-img-6.png");
//  //background-size: contain;
//  height: 100vh;
//  //background-repeat: no-repeat;
//  //background-blend-mode: darken;
//  //background-position: center;
//  display: grid;
//  grid-template-columns: 50% 50%;
//  //justify-content: space-between;
//  //flex-wrap: wrap;
//  //-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
//}
//
//.hero-message {
//  font-size: 1.5rem;
//  //width: 50%;
//  line-height: 3;
//  font-family: Josefin Slab, serif;
//  font-weight: 500;
//  margin-left: 10px;
//  //flex: 0 0 30%;
//  z-index: 0;
//
//}
//
//.hero-img {
//  width: 100%;
//  //width: 70%;
//  //flex: 0 0 50%;
//  //background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../hero-img-6.png");
//  //background-size: cover;
//  //background-repeat: no-repeat;
//  //background-blend-mode: darken;
//  //background-position: center right;
//  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
//  z-index: 10;
//}