@import "./variables";

@mixin move-greeting() {
  @keyframes move-greeting {
    0% {
      bottom: -0.2em;
      opacity: 1;
      color: $white--04;
    }

    50% {
      bottom: 0.2em;
      color: $white--03;
    }

    100% {
      bottom: 0;
      opacity: 1;
      color: $white--01;
    }
  }

  animation: move-greeting 0.75s forwards;
}

@mixin bounceText() {
  @keyframes bounceText {
    0% {
      transform: skewY(20deg) scale(1.2);
    }

    50% {
      transform: skewY(-30deg);
    }

    100% {
      transform: skewY(20deg);
    }
  }
}

@mixin moveDownUp() {
  @keyframes moveDownUp {
    0% {
      transform: translate3d(50px, 50px, 0);
      opacity: 0.1;
    }

    100% {
      transform: translate3d(0, 0, 0);
      opacity: 0.7;
    }
  }

  animation: moveDownUp 2s cubic-bezier(0.51, 0.27, 0.44, 1) 1.2s forwards;
}

//Not used now
@mixin h() {
  @keyframes h {
    0% {
      top: -150px;
      left: -20px;
      opacity: 0;
    }

    100% {
      top: 0;
      left: 0;
      opacity: 1;
    }
  }

  animation: h 1s 0.5s;
}

@mixin e() {
  @keyframes e {
    0% {
      top: -250px;
      left: 20px;
      transform: rotate(20deg, 10deg);
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      top: 0;
      left: 0;
      transform: rotate(20deg, 10deg), skew(-20deg, -20deg);
      opacity: 1;
    }
  }

  animation: e 1s 0.6s;
}

@mixin l-1() {
  @keyframes l-1 {
    0% {
      top: -50px;
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      top: 0;
      left: 0;
      opacity: 1;
    }
  }

  animation: l-1 1s ease-in 0.7s forwards;
}

@mixin l-2() {
  @keyframes l-2 {
    0% {
      right: 0px;
      top: 100px;
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      top: 0;
      left: 0;
      opacity: 1;
    }
  }

  animation: l-2 1s ease-in 0.8s forwards;
}

@mixin o() {
  @keyframes o {
    0% {
      right: 0px;
      top: 100px;
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      top: 0;
      left: 0;
      opacity: 1;
    }
  }

  animation: o 1s ease-in 0.9s forwards;
}

.section-title {
  // position: absolute;
  // left: 7%;
  // top: 5%;
  font-size: $font--80;
  color: $white--03;
}

@mixin section {
  padding: 0 0 0 0.7rem;
}
