@import "./variables";

@mixin move-greeting() {
  @keyframes move-greeting {
    0% {
      bottom: -0.2em;
      opacity: 1;
      color: $white--04;
    }

    50% {
      bottom: 0.2em;
      color: $white--03;
    }

    100% {
      bottom: 0;
      opacity: 1;
      color: $white--01;
    }
  }

  animation: move-greeting 0.75s forwards;
}

@mixin bounceText() {
  @keyframes bounceText {
    0% {
      transform: skewY(20deg) scale(1.2);
    }

    50% {
      transform: skewY(-30deg);
    }

    100% {
      transform: skewY(20deg);
    }
  }
}

@mixin moveDownUp() {
  @keyframes moveDownUp {
    0% {
      transform: translate3d(50px, 50px, 0);
      opacity: 0.1;
    }

    100% {
      transform: translate3d(0, 0, 0);
      opacity: 0.7;
    }
  }

  animation: moveDownUp 2s cubic-bezier(0.51, 0.27, 0.44, 1) 1.2s forwards;
}

//Not used now
@mixin h() {
  @keyframes h {
    0% {
      top: -150px;
      left: -20px;
      opacity: 0;
    }

    100% {
      top: 0;
      left: 0;
      opacity: 1;
    }
  }

  animation: h 1s 0.5s;
}

@mixin e() {
  @keyframes e {
    0% {
      top: -250px;
      left: 20px;
      transform: rotate(20deg, 10deg);
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      top: 0;
      left: 0;
      transform: rotate(20deg, 10deg), skew(-20deg, -20deg);
      opacity: 1;
    }
  }

  animation: e 1s 0.6s;
}

@mixin l-1() {
  @keyframes l-1 {
    0% {
      top: -50px;
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      top: 0;
      left: 0;
      opacity: 1;
    }
  }

  animation: l-1 1s ease-in 0.7s forwards;
}

@mixin l-2() {
  @keyframes l-2 {
    0% {
      right: 0px;
      top: 100px;
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      top: 0;
      left: 0;
      opacity: 1;
    }
  }

  animation: l-2 1s ease-in 0.8s forwards;
}

@mixin o() {
  @keyframes o {
    0% {
      right: 0px;
      top: 100px;
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      top: 0;
      left: 0;
      opacity: 1;
    }
  }

  animation: o 1s ease-in 0.9s forwards;
}

.section-title {
  --minFontSize: 4rem;
  --maxFontSize: 8rem;
  --scaler: 10vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
  // font-size: $section-title-font;
  font-family: "$font-family-section-title";
  margin-bottom: $space--64;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  // color: $white--03;
}

@mixin section {
  padding: 0 0 0 0.7rem;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin text-spacing {
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
}

@mixin small-font {
  --minFontSize: 1rem;
  --maxFontSize: 1.6rem;
  --scaler: 7vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}

@mixin extra-small-font {
  --minFontSize: 1rem;
  --maxFontSize: 1.4rem;
  --scaler: 7vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == extra-small {
    @media only screen and (max-width: 43.75rem) {
      @content;
    } //700px
  }
  @if $breakpoint == small {
    @media only screen and (max-width: 48rem) {
      @content;
    } //768px
  }
  @if $breakpoint == medium {
    @media only screen and (max-width: 64rem) {
      @content;
    } //1024px
  }
  @if $breakpoint == big {
    @media only screen and (max-width: 93.75rem) {
      @content;
    } //1500px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}
