.navbar {
  //   position: fixed;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  position: fixed;
  width: 80%;
  /* bottom: 10%; */
  top: 0;
  &__logo {
    // position: fixed;
  }

  align-items: center;
  &__list {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    // position: relative;

    li {
      //   &:nth-of-type(1) {
      //     flex: 1;
      //     position: fixed;
      //   }
      &:not(:last-child) {
        margin-right: $space--24;
      }
    }
    li a {
      color: #fff;
    }
  }
}

.signature {
  width: 100px;
  //   height: 100px;
}
