.projects {
  margin-top: $space--64;
}

.project {
  display: flex;
  height: 95vh;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-right: 40px;
  margin-bottom: $space--96;
  flex-direction: row;

  // @include respond(medium) {
  //   height: 50vh;
  // }
  @include respond(small) {
    flex-direction: column;
    height: auto;
    padding-right: 0;
  }

  &__slider-container {
    background-image: linear-gradient(
      -88deg,
      #000000,
      #000000,
      #000000,
      #ffffff
    );
    border-radius: $br-5;
    box-shadow: 0px 10px 0px 0px#000;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);

    &:hover {
      transform: scale(1.1);
    }

    @include respond(small) {
      width: 90%;
    }
  }

  &__slider-container--left {
    background-image: linear-gradient(-88deg, #000000, #ffffff);
  }

  &__slider-container--right {
    background-image: linear-gradient(-88deg, #ffffff, #000000);
  }

  &__slider {
    width: 100%;
    // height: 70vh;

    &-img-wrapper {
      // width: 100%;
      display: flex !important;
      // flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      //   flex-direction: center;
      // justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  // description
  &__description {
    // margin-left: 40px;
    width: 40%;

    @include respond(small) {
      width: 90%;
      margin-top: 2rem;
    }
    &-msg {
      p {
        @include small-font;
        // --minFontSize: 1rem;
        // --maxFontSize: 1.6rem;
        // --scaler: 7vw;
        // font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
        font-family: $font-family-body;
        font-weight: 300;
        // font-size: $body--font;
        margin: 3vw 0;
        line-height: 1.6;
        overflow-wrap: break-word;
        hyphens: auto;
        @include text-spacing;

        @include respond(medium) {
          // font-size: 1.1rem;
          margin: 2vw 0;
          --minFontSize: 1rem;
          --maxFontSize: 1.4rem;
          --scaler: 7vw;
          font-size: clamp(
            var(--minFontSize),
            var(--scaler),
            var(--maxFontSize)
          );
        }

        @include respond(small) {
          font-size: $small--font;
          margin: 2vw 0;
        }
      }

      &--left {
        @include respond(medium) {
          // padding-left: 2rem;
          font-size: 1.4rem;
        }
      }

      &--right {
        @include respond(medium) {
          padding-left: 2rem;
        }
      }
    }

    &-title {
      --minFontSize: 3.2rem;
      --maxFontSize: 20rem;
      --scaler: 10vw;
      font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
      font-family: "Italiana";
      padding-right: 40px;
      position: absolute;

      top: -4%;
      right: 0;
      // left: 45%;
      // font-size: 20rem;
      font-weight: 800;
      text-transform: uppercase;
      color: $gold--01;
      opacity: 1; //TODO: MAKE THIS A GRADIENT
      z-index: -1;
      transition: color 0.8s cubic-bezier(0.25, 1, 0.5, 1),
        transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);

      @include respond(medium) {
        top: -9%;
        // font-size: 15rem;
      }

      @include respond(small) {
        top: -5%;
      }

      &:hover {
        color: $white--01;
        transform: scale(1.2);
      }
    }

    &-title--left {
      top: -7%;
      right: 0;
      left: 45%;

      @include respond(medium) {
        // top: -12%;
        // left: 10%;
      }
    }
    &-title--right {
      top: -15%;
      left: 10%;
    }
  }

  //link
  &__view {
    display: flex;
    justify-content: flex-end;
    &-link {
      font-family: $body--font;
      &:visited,
      &:link {
        font-size: $caption--font;
        color: $gold--01;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $gold--01;
        padding: 3px;
        transition: all 0.2s;
      }

      &:hover {
        background-color: $gold--02;
        color: $white--02;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); //TODO: Make this a mixin or utility class
        transform: translateY(-2px);
      }
    }
  }

  @include respond(tab-land) {
  }
}

.project:nth-of-type(odd) {
  // display: block;
  flex-direction: row-reverse;

  // &__description {
  //   &-msg {
  //     p {
  //       margin: 3vw 0;
  //     }
  //   }

  //   &-title {
  //     top: -7%;
  //     right: 0;
  //     left: 45%;
  //   }
  // }
  @include respond(small) {
    flex-direction: column;
  }
}

.project:nth-of-type(5) {
  margin-bottom: 0;
}

// .project:nth-of-type(odd) .project__description-msg p {
//   font-size: 12px;
// }

.project:nth-of-type(odd) .project__description-title {
  top: -7%;
  left: 0;
}

.project:nth-of-type(odd) .project__slider-container {
  background-image: linear-gradient(-88deg, #ffffff, #000000, #000000, #000000);
}
//slider
.slick-slider {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.slick-dots {
  @include respond(small) {
    bottom: 20px;
  }
}

.slick-dots.slick-thumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slick-dots.slick-thumb li {
  width: 6px;
  height: 6px;
  margin: 0 $space--8;
  border-radius: 999px;
  transition: all 0.5s ease-in-out;
  will-change: width;
  background-color: white;
}

.slick-dots.slick-thumb li.slick-active {
  background-color: $gold--01;
  width: 24px;
}

// media -queries
// 1. On tablet move the position of project name higher
