.project {
  height: 100%;
  &__title {
    font-size: $font--30;
    text-align: center;
    color: $gold--01;
  }

  &__container {
    display: flex;
    margin-top: 2rem;
    height: 100%;
  }

  // &__child {
  //   flex: 1;
  // }

  &__images-hovered {
    flex: 0 1 60%;
    display: block;
    height: 100%;
    padding: 1.5rem;
  }
  &__images {
    flex: 1 1 60%;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(8, [col-start] 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 1rem;
    padding: 1.5rem;
    border: 1px solid $white--02;
    border-radius: 5px;
    // transition: height 2s ease-in-out;
    opacity: 1;

    *:hover {
      // transform: scale(1);
      height: 100%;
      width: 100%;
      object-fit: contain;
      animation: hoveredImage 1s ease-in-out;
      // transition: all 1s ease-in-out;
    }
    &-child {
      animation: displayImage 1s ease-in-out;
      &--1 {
        grid-row: 1 / span 2;
        grid-column: 1 / span 3;
      }
      &--2 {
        grid-row: 1 / span 3;
        grid-column: 4 / -1;
      }
      &--3 {
        grid-row: 4 / span 3;
        grid-column: 4 / -1;
      }
      &--4 {
        grid-row: 3 / span 3;
        grid-column: 1 / 4;
      }
      &--5 {
        grid-row: 6 / -1;
        grid-column: 1 / 4;
      }
      &--6 {
        grid-row: 7 / -1;
        grid-column: 4 / 6;
      }
      &--7 {
        grid-row: 7 / -1;
        grid-column: 6 / -1;
      }
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // transition: all 4s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }

  &__descriptions {
    flex: 1 1 30%;
    padding: 2rem;
    max-height: 100%;

    &-description {
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.05em;
      height: 30%;

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }
}

// Projects
.projects {
  height: 75vh;
  // position: relative;
  @include section;
}

@keyframes displayImage {
  0% {
    opacity: 0.4;
    transform: scale(0.7);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes hoveredImage {
  0% {
    opacity: 0.4;
    // transform: scale(0.8);
    z-index: 1;
  }

  100% {
    opacity: 1;
    // transform: scale(1);
    z-index: 1;
  }
}
