// Skills Card
.skills-card {
  width: 180px;
  height: 80px;
  box-shadow: 5px 7px 4px rgba(119, 119, 119, 0.25);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  flex: 0 0 18%;
  margin-bottom: 10px;
  border-radius: 3px;
  margin-left: 10px;
  border: 1px solid #fff;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  position: relative;

  &__icon-container {
    align-self: flex-end;
    position: absolute;
    top: 75%;
  }

  &_icon {
    font-size: 12px;
    // background: radial-gradient(
    //   50% 50% at 50% 50%,
    //   #dc9202 0%,
    //   #fcc201 0.01%,
    //   #bc7c01 33.85%,
    //   #7c5200 100%,
    //   #fcc201 100%
    // );
    color: $gold--01;
  }
}

.skills {
  height: 50vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // position: relative;
  @include section;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
  }
  //   flex-wrap: wrap;
  //   background: #fff;

  &__card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;

    //   background: #fff;
  }
}

// position: absolute;
// left: 7%;
// top: 5%;
// font-size: 6rem;
