$black: #000;
$white--01: #fff;
$white--02: rgba(255, 255, 255, 0.8);
$white--03: rgba(255, 255, 255, 0.5);
$white--04: rgba(255, 255, 255, 0.3);
$gold--01: rgb(220, 146, 2);
$gold--02: #e0aa3e;

$font--10: 1rem;
$font--18: 1.8rem;
$font--20: 2rem;
$font--60: 6rem;
$font--80: 8rem;
$font--25: 2.5rem;
$font--30: 3rem;
$font--15: 1.5rem;

$br-5: 5px;
